// rmdir — remove empty directories. rmdir dir ...
use "../../../Caustic/std/causticos/prog.cst" as prog;
use "../../../Caustic/std/os/causticos.cst" as sys;
use "../lib/futil/futil.cst" as fu;

fn main(argc as i64, argv as *u8) as i32 {
    let is fu.Opt as o;
    fu.opt_init(&o, argc, argv);
    while (1 == 1) {
        let is i64 as f = fu.opt_next(&o, "");
        if (f < 0) { break; }
        prog.outs("usage: rmdir dir ...\n"); return cast(i32, 1);
    }
    if (argc - o.ind <= 0) { prog.outs("usage: rmdir dir ...\n"); return cast(i32, 1); }
    let is i32 as rc with mut = 0;
    let is i64 as i with mut = o.ind;
    while (i < argc) {
        let is *u8 as name = prog.arg(argv, i);
        let is [256]u8 as pb;
        let is *u8 as path = prog.abspath(name, cast(*u8, &pb[0]));
        if (sys.rmdir(path) != 0) { prog.outs("rmdir: "); prog.outs(name); prog.outs(": cannot remove\n"); rc = cast(i32, 1); }
        i = i + 1;
    }
    return rc;
}
