// main.cst — causticos kernel entry point

use "limine.cst" as limine;
use "fb.cst" as fb;
use "../font/font8x8.cst" as font;

fn halt() as void {
    asm("cli\n");
    while (1 == 1) {
        asm("hlt\n");
    }
}

fn _kernel_start() as void {
    if (limine.fb_req_response == 0) {
        halt();
    }
    let is *limine.LimineFbResponse as resp = cast(*limine.LimineFbResponse, limine.fb_req_response);
    if (resp.fb_count == 0) {
        halt();
    }
    let is *i64 as fbarr = cast(*i64, resp.framebuffers);
    let is *limine.LimineFramebuffer as framebuffer = cast(*limine.LimineFramebuffer, fbarr[0]);

    font.init();
    fb.init(framebuffer);
    fb.clear(cast(i32, 0x001a1a2e));
    fb.print("causticos", 9, 10, 10, cast(i32, 0x00FFFFFF));

    halt();
}
