// cat — dump a file to stdout. `cat <path>`.
use "../../Caustic/std/causticos/prog.cst" as prog;
use "../../Caustic/std/os/causticos.cst" as sys;

fn main(argc as i64, argv as *u8) as i32 {
    if (argc < 2) { prog.outs("usage: cat <file>\n"); return cast(i32, 1); }
    let is [256]u8 as pb;
    let is *u8 as path = prog.abspath(prog.arg(argv, 1), cast(*u8, &pb[0]));
    let is i64 as fd = sys.open_read(path);
    if (fd < 0) { prog.outs("cat: cannot open "); prog.outs(path); prog.out("\n", 1); return cast(i32, 1); }
    let is [512]u8 as buf;
    let is i64 as n with mut = sys.read(fd, cast(*u8, &buf[0]), 512);
    while (n > 0) {
        prog.out(cast(*u8, &buf[0]), n);
        n = sys.read(fd, cast(*u8, &buf[0]), 512);
    }
    sys.close(fd);
    return 0;
}
