// cp — copy a file. `cp <src> <dst>`.
use "../../Caustic/std/causticos/prog.cst" as prog;
use "../../Caustic/std/os/causticos.cst" as sys;

fn main(argc as i64, argv as *u8) as i32 {
    if (argc < 3) { prog.outs("usage: cp <src> <dst>\n"); return cast(i32, 1); }
    let is [256]u8 as sb; let is [256]u8 as db;
    let is *u8 as src = prog.abspath(prog.arg(argv, 1), cast(*u8, &sb[0]));
    let is *u8 as dst = prog.abspath(prog.arg(argv, 2), cast(*u8, &db[0]));
    let is i64 as sfd = sys.open_read(src);
    if (sfd < 0) { prog.outs("cp: cannot open "); prog.outs(src); prog.out("\n", 1); return cast(i32, 1); }
    let is i64 as dfd = sys.open_write(dst);
    if (dfd < 0) {
        prog.outs("cp: cannot create "); prog.outs(dst); prog.out("\n", 1);
        sys.close(sfd); return cast(i32, 1);
    }
    let is [4096]u8 as buf;
    let is i64 as n with mut = sys.read(sfd, cast(*u8, &buf[0]), 4096);
    let is i32 as rc with mut = 0;
    while (n > 0) {
        if (sys.write(dfd, cast(*u8, &buf[0]), n) != n) {
            prog.outs("cp: write error\n"); rc = cast(i32, 1); break;
        }
        n = sys.read(sfd, cast(*u8, &buf[0]), 4096);
    }
    sys.close(sfd); sys.close(dfd);
    return rc;
}
