// rm — remove a file. `rm <file>`. (Directories: use rmdir.)
use "../../Caustic/std/causticos/prog.cst" as prog;
use "../../Caustic/std/os/causticos.cst" as sys;

fn main(argc as i64, argv as *u8) as i32 {
    if (argc < 2) { prog.outs("usage: rm <file>\n"); return cast(i32, 1); }
    let is [256]u8 as pb;
    let is *u8 as path = prog.abspath(prog.arg(argv, 1), cast(*u8, &pb[0]));
    if (sys.unlink(path) != 0) {
        prog.outs("rm: cannot remove "); prog.outs(path);
        prog.outs(" (a directory? use rmdir)\n");
        return cast(i32, 1);
    }
    return 0;
}
