// tree — print the directory tree under a path. `tree [path]`.
use "../../Caustic/std/causticos/prog.cst" as prog;
use "../../Caustic/std/os/causticos.cst" as sys;
use "futil.cst" as fu;

fn tree_walk(path as *u8, plen as i64, depth as i64) as void {
    let is i64 as fd = sys.open_read(path);
    if (fd < 0) { return; }
    let is [320]u8 as de;
    while (sys.readdir(fd, cast(*u8, &de[0])) == 0) {
        let is i64 as nl = fu.de_name_len(cast(*u8, &de[0]));
        if (fu.is_dot(cast(*u8, &de[0]), nl) == 0) {
            let is i64 as d with mut = 0;
            while (d <= depth) { prog.outs("  "); d = d + 1; }
            prog.out(cast(*u8, &de[0]), nl);
            let is i64 as isdir = fu.de_is_dir(cast(*u8, &de[0]));
            if (isdir != 0) { prog.outs("/"); }
            prog.out("\n", 1);
            if (isdir != 0) {
                let is [512]u8 as child;
                let is i64 as clen = fu.path_join(cast(*u8, &child[0]), path, plen, cast(*u8, &de[0]), nl);
                tree_walk(cast(*u8, &child[0]), clen, depth + 1);
            }
        }
    }
    sys.close(fd);
}

fn main(argc as i64, argv as *u8) as i32 {
    let is [256]u8 as pb;
    let is *u8 as path with mut = "/";
    if (argc >= 2) { path = prog.abspath(prog.arg(argv, 1), cast(*u8, &pb[0])); }
    prog.outs(path); prog.out("\n", 1);
    tree_walk(path, prog.slen(path), 0);
    return 0;
}
